.gameToday{
    padding-top: 3rem;
}


.flexHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.subTitle__content{
    max-width: 350px;
}

.subTitle__content hr{
    width: 50%;
    border: none;
    border-bottom: 0.5rem solid #060688;
    border-radius: 10rem;
}

.gamesToday__grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
    gap: 20px;
    padding: 2rem 0;
}



.gameToday__card{
    width: 100%;
    max-width: 40rem;
    height: 18rem;
    border-radius: 1rem;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 0.1rem solid #9b9b9b56;
    transition: 0.5s all ease;
    
}
.gameToday__card__bgOverlay{
    width: 100% ;
    height: 100%;
    background: linear-gradient(180deg, rgba(2,0,36,0) -1%, rgba(1,0,24,0.2987570028011205) 32%, rgba(0,0,0,0.5032387955182073) 59%, rgba(0,0,0,1) 85%);    border-radius: 1rem;
}

.gameToday__card__content{
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
}

.gameToday__card__content h4{
    color: white;
    font-size: 2rem;
}




.gameToday__card:hover{
     scale:1.1
}

.gamesToday__grid:has(.gameToday__card:hover) .gameToday__card:not(:hover){
    opacity: .6;
    scale: .98;
}

.notGame{
    position: relative;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
}


.notGame h1{
    z-index: 1;
    padding-top: 2rem;
}


.sadVegeta{
    top: 0;
    position: absolute;
    max-width: 14rem;
    border-radius: 2rem;
    z-index: 0;
     
}


@media screen and (max-width:490px){
    .flexHeader{
        flex-direction: column;
    }
}